body{
    background-color: #f8f9fa;
    margin-top: 40px;
}
.parents {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    max-width: 300px;
    padding: 20px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.logo {
    height: 120px;
    width: 120px;
    margin: auto;
}

.email{
    margin: 0 0 16px;
}

.label {
    width: 100%;
    font-weight: 700;
    font-size: 14px;
}

.line{
    height: 1px;
    width: 100%;
    background: #dee2e6;
    margin: 16px 0 24px;
}

.line-2{
    height: 1px;
    width: 100%;
    background: #dee2e6;
    margin: 24px 0 0;
}

input{
    padding: 6px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    margin: 8px 0 0;
}

input:focus{
    color: #495057;
    background-color: #FFFFFF;
    border-color: #21fffb;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 160 157 / 25%);
}

button{
    border-radius: 0.25rem;
    line-height: 1.5;
    width: 100%;
    background-color: #00A09D;
    border-color: #00A09D;
    border: 1px solid transparent;
    color: #FFFFFF;
    font-size: 0.875rem;
    font-family: inherit;
    cursor: pointer;
    padding: 6px 12px;
    margin: 32px 0 0;
    text-align: center;
}

.create-new-acc{
    margin: 8px 0 0;
    line-height: 1;
}

.link-text:link,
.link-text:visited{
    color: #00A09D;
    text-decoration: none;
    background-color: transparent;
    font-size: 11px;
}

.link-text:hover{
    color: #005452;
    text-decoration: underline;
    background-color: transparent;
    font-size: 11.2px;
    margin: 8px 0 0;
    box-sizing: border-box;
}

.or{
    margin: 4px;
    color: rgba(33, 37, 41, 0.4);
    text-align: center;
    font-size: 11px;
}

.gg-icon{
    color:#de564a; 
}

.google-login{
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 8px 20px;
    border-radius: 0.25rem;
}

.gg-login:link,
.gg-login:visited{
    color: #495057;
    text-decoration: none;
    background-color: #FFFFFF;
}

.gg-login:hover{
    background-color: #f8f9fa;
}

.footer-link{
    display: flex;
    justify-content: center;
    margin: 16px 0 0;
}

.no-margin{
    margin: 0 !important; 
}

.between-line{
    margin: 0 5px;
    background-color: #dee2e6;
    width: 1px;
    height: 15px;
}